{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 90,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^~/actions/(.*)$",
    "^~/components/ui/(.*)$",
    "^~/components/(.*)$",
    "^~/db$",
    "^~/db/(.*)$",
    "^~/data/(.*)$",
    "^~/lib/(.*)$",
    "^~/hooks/(.*)$",
    "^~/services/(.*)$",
    "^~/store/(.*)$",
    "^~/types/(.*)$",
    "^~/utils/(.*)$",
    "^~/styles/(.*)$",
    "^~/app/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
